<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
<main layout:fragment="content">
	<h2>部署一覧</h2>
	<span th:if="${successMessage}" th:text="${successMessage}"></span>
	<span th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></span>
	
	<div class="search">
		<form th:action="@{/department/search}" th:method="get">
			<label>キーワード</label>
			<input type="text" name="searchName" placeholder="検索したい部署名を検索">
			<button type="submit">検索</button>
		</form>
		<button type="buttton" class="crear-button" onclick="location.href='/department/index'">クリア</button>
		<button type="buttton" class="create-button" onclick="location.href='/department/create'">部署新規追加</button>
	</div>
	
	<p th:if="${isSearch}" th:text="'検索結果 ' + ${resultCount} + '件'"></p>
	
	<table>
		<tr th:each="department : ${departmentList}">
			<td th:text="${department.nameJp}"></td>
			<td>
				<button type="button" th:onclick="|location.href='@{/department/edit/{id}(id=${department.id})}'|">編集</button>
			</td>
		</tr>
	</table>
</main>

</html>