@charset "UTF-8";

/*form {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}*/

input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.create-btn {
	padding: 10px;
	background-color: #00a968;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.create-btn:hover {
	background-color: #288c66;
}

.page-container {
	max-width: 700px;
	margin: 0 auto;
}

body {
	font-family: sans-serif;
	padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    gap: 20px;
}

.search-area {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: nowrap;
	margin: 0;
}

.search-box {
	width: 300px;
	padding: 8px 10px;
	border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
	padding: 8px 12px;
	margin-left: 5px;
	background-color: #5c9291;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.clear-btn {
	display: inline-block;
	padding: 8px 12px;
	color: #5c9291;
	border: 1px solid #5c9291;
	border-radius: 5px;
	cursor: pointer;
}

.add-btn {
	display: inline-block;
	padding: 8px 12px;
	background-color: #68a4d9;
	color: #fff;
	border-radius: 5px;
	border: none;
}

.result-info {
	margin-bottom: 15px;
}

.department-table {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}

.department-table tr,
.department-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.department-table tr {
	background-color: #f5f5f5;
}

.edit-btn {
	display: inline-block;
	padding: 5px 10px;
	background-color: #88b5d3;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
}

.success-message {
	margin-top: 15px;
	color: green;
	text-align: center;
}