@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
	background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.navbar {
	width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

#navigation {
	position: relative;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#slide-line{
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color:#EF682C;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

.user-info {
    font-weight: bold;
}

main {
    padding: 20px;
}

.error-message{
	color: red;
}

.layer {
  background: rgba(0, 0, 0, .2); /* 背景を薄くする *
  width: 100%;
  height: 100%;
  position: fixed; /* 画面に固定するために指定 */
  top: 0;
  left: 0;
}

/* モーダルコンテンツ */
.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  min-width: 440px;
}

.modal__inner {
  margin-top: 125px;
  margin-bottom: 125px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);/* モーダルにシャドウをかける */
  border-radius: 13px; /* モーダルの角を丸める */
  display: block;
  padding: 21px 8px 21px;
  height: auto;
}

.modal__content {
  padding-top: 15px;
  padding-bottom: 23px;
}