<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Spring Security Example </title>
	<link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>

	<form th:action="@{/login}" method="post" th:object="${userForm}">

		<div class="title-logo">
			<img class="logo" th:src="@{/images/DAKOKURU.jpg}" alt="ロゴ画像" />
		</div>
		<h1>DAKOKURU</h1>

		<div class="form-group">
			<div th:if="${param.error}" class="error-message">
				社員番号とパスワードの組み合わせが正しくありません。
			</div>
			<div class="field">
				<div class="form-area">
					<label> 社員番号</label>
					<input type="text" name="employee_no" placeholder="社員番号" />

					<label> パスワード</label>
					<input type="password" name="password" placeholder="パスワード" />
				</div>


				<div>
					<input type="submit" value="ログイン" class="login-botton" />
				</div>
			</div>
		</div>
	</form>
</body>

</html>