<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Spring Security Example </title>
</head>

<body>
	<h1>部署編集・削除</h1>
	<form th:action="@{/department/edit}" th:object="${departmentForm}" th:method="post">
		<table>
			<tr>
				<td><input type="hidden" th:field="*{id}"/></td>
			</tr>
			<tr>
				<td><label for="department">変更前</label></td>
				<td><input type="text" name="oldnameJp" th:value="${department.nameJp}" /></td>
				<td><input type="text" name="oldnameEn" th:value="${department.nameEn}" /></td>
			</tr>

			<tr>
				<td><label for="department">変更後</label></td>
				<td><input type="text" th:field="*{nameJp}"/></td>
				<td th:if="${#fields.hasErrors('nameJp')}" th:errors="*{nameJp}" style="color:red;"></td>
			</tr>
			<tr>
				<td><label for="department">変更後（英語）</label></td>
				<td><input type="text" th:field="*{nameEn}"></td>
				<td th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}" style="color:red;"></td>
			</tr>
			<tr>
				<td><button type="submit" onclick="return confirm('更新します。宜しいですか？')">変更</button></td>

			</tr>
			<tr>
				<a th:href="@{/department/delete/{id}(id=${department.id})}"
					onclick="return confirm('削除します。宜しいですか？')">削除</a>

				<div th:if="${successMessage}">
					<p th:text="${successMessage}"></p>
				</div>

				<div th:if="${errorMessage}">
					<p th:text="${errorMessage}"></p>
				</div>
			</tr>

			<div>
				<a th:href="@{/department/index}">戻る</a>
			</div>
		</table>
	</form>
</body>

</html>