<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<main layout:fragment="content">
<title>部署名編集削除</title>
<body>
	<h2>部署編集・削除</h2>
	<form th:action="@{/department/update}" th:object="${departmentForm}" method="post">
		<input type="hidden" th:name="id" th:value="${department.id}">
		<p>
			<label>変更前</label>
			<span th:text="${department.nameJp}"></span>
			<span th:text="${department.nameEn}"></span>
		</p>
		<p>
			<label for="nameJp">変更後</label>
			<input type="text" th:name="nameJp" id="nameJp" th:value="${department.nameJp}">
			<label for="nameEn">変更後（英語）</label>
			<input type="text" th:name="nameEn" id="nameEn" th:value="${department.nameEn}">
		</p>
		<button type="submit">変更</button>
	</form>
	<form th:action="@{/department/delete}" method="post">
		<input type="hidden" th:name="id" th:field="${department.id}">
		<button>削除</button>
	</form>
	<a href="/department/index">部署一覧へ戻る</a>
</body>
</html>