<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">html>
<head>
    <meta charset="UTF-8">
    <title>部署一覧</title>
</head>
<main layout:fragment="content">
    <!-- 各ページのコンテンツがここに入る -->
    <body>
        <h2>部署一覧</h2>
        <a th:href="@{/department/create}" >新規部署追加</a>
        <!--検索フォーム-->
        <form th:action="@{/depertment/search}" th:method="post" th:object="${searchForm}">
            <label> キーワード</label>
            <input type="text" name="searchName"  th:value=${searchName}  th:field="*{searchName}" placeholder="検索したい部署名を入力" >
            <button type="submit">検索</button>
			<!-- バリデーションエラーメッセージを表示 -->
			<div th:if="${#fields.hasErrors('searchName')}" th:errors="*{searchName}" style="color:red;"></div>
        </form>
        <!--検索条件クリア-->
        <form th:action="@{/depertment/search}" th:method="post">
            <input type="hidden" name="searchName" value="">
            <button type="submit">クリア</button>
        </form>        
        <!--${countall}=全件数  ${count}=検索結果件数-->
        <!--	一致していない場合のみ件数表示する-->
        <p th:if="${countall} != ${count}" th:text="'検索結果：'+  ${count} + '件'"> </p>
        <!-- 処理完了メッセージを表示 -->
        <p th:text="${message}" style="color:blue;"> </p> 
        <!--部署一覧・編集-->
        <table>
            <tr th:each="department : ${departmentList}">
                <!--	取得した部署名表示-->
                <td th:text="*{department.nameJp}"></td>
                <td>
                    <a th:href="@{/depertment/edit/{id}(id=${department.id})}">
                        <button >編集</button>
                    </a>
                </td>
            </tr>
        </table>
    </body>
</main>
</html>