<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <main layout:fragment="content">
        <h2>部署一覧</h2>
        <label>キーワード</label>
        <form method="get"  th:action="@{/department/index}">
            <input type="text" name="searchWord" placeholder="検索したい部署名を入力"/>
            <input type="submit" value="検索"/>
            <input type="reset" value="クリア"/>
            <a th:href="@{/department/create}">部署新規追加</a>
        </form>
            <table>
               <span th:if="${department.size() != null}" th:text="${department.size()} + '件'"></span>
                <tr th:each="department : ${department}">
                    <td th:text="${department.nameJp}"></td>
                    <td><a th:href="@{/department/edit/{Id}(Id=${department.id})}">編集</a></td>
            </table>
    </main>
</html>